.Toastify__toast {
    font-family: 'Iceland', sans-serif !important;
    color: white;
    background-color: black;
    font-size: larger;
}

.lvl2 {
  box-shadow: 
    3px 0 black,
    -3px 0 #343434,
    0 -3px #343434,
    0 3px black,
    6px 0 black,
    -6px 0 black,
    0 -6px black,
    0 6px black,
    0 0 0 3px black;
  margin: 0px auto;
}